<!DOCTYPE html>
<html>
<head>
  <title>Filesmanager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/pages">pages</a> | <a href="/comments">comments</a>
<br><br>
<%= yield %>

</body>
</html>
